In [73]:
import numpy as np
import pandas as pd
import cv2
import spacy
import PIL
import pytesseract

In [74]:
img_cv = cv2.imread('./Selected/052.jpeg')
cv2.imshow('Business card',img_cv)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [75]:
img_pl = PIL.Image.open('./Selected/052.jpeg')

In [76]:
type(img_pl)

PIL.JpegImagePlugin.JpegImageFile

In [77]:
type(img_cv)

numpy.ndarray

In [78]:
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [79]:

text_cv = pytesseract.image_to_string(img_cv)

In [80]:
text_cv

'HONDA\n\nDONNIE HANSEN\nMOTOCROSS TEAM RIDER\nTEAM HONDA\n\nAMERICAN HONDA MOTOR CO., INC.\n100 WEST ALONDRA BOULEVARD e GARDENA, CA 90247\n(213) 321-8680\n'

In [88]:
data = pytesseract.image_to_data(img_cv)

In [89]:
data.split('\n')

['level\tpage_num\tblock_num\tpar_num\tline_num\tword_num\tleft\ttop\twidth\theight\tconf\ttext',
 '1\t1\t0\t0\t0\t0\t0\t0\t720\t401\t-1\t',
 '2\t1\t1\t0\t0\t0\t36\t29\t207\t25\t-1\t',
 '3\t1\t1\t1\t0\t0\t36\t29\t207\t25\t-1\t',
 '4\t1\t1\t1\t1\t0\t36\t29\t207\t25\t-1\t',
 '5\t1\t1\t1\t1\t1\t36\t29\t207\t25\t92.618942\tHONDA',
 '2\t1\t2\t0\t0\t0\t237\t166\t246\t63\t-1\t',
 '3\t1\t2\t1\t0\t0\t237\t166\t246\t63\t-1\t',
 '4\t1\t2\t1\t1\t0\t237\t166\t246\t16\t-1\t',
 '5\t1\t2\t1\t1\t1\t237\t166\t112\t16\t96.634560\tDONNIE',
 '5\t1\t2\t1\t1\t2\t364\t166\t119\t16\t95.774574\tHANSEN',
 '4\t1\t2\t1\t2\t0\t245\t194\t231\t12\t-1\t',
 '5\t1\t2\t1\t2\t1\t245\t195\t108\t11\t96.603333\tMOTOCROSS',
 '5\t1\t2\t1\t2\t2\t362\t194\t48\t11\t96.379105\tTEAM',
 '5\t1\t2\t1\t2\t3\t422\t194\t54\t11\t96.426384\tRIDER',
 '4\t1\t2\t1\t3\t0\t299\t218\t123\t11\t-1\t',
 '5\t1\t2\t1\t3\t1\t299\t218\t49\t11\t94.591614\tTEAM',
 '5\t1\t2\t1\t3\t2\t359\t218\t63\t11\t94.591614\tHONDA',
 '2\t1\t3\t0\t0\t0\t35\t304\t649\t67\t-1\t',
 '3\t1\t3\t1\t0\t0\t35\t304\t649\t67\t-1\t',
 '4\t1\t3\t1\t1\t0\t35\t304\t648\t22\t-1\t',
 '5\t1\t3\t1\t1\t1\t35\t307\t184\t17\t96.701904\tAMERICAN',
 '5\t1\t3\t1\t1\t2\t240\t306\t122\t17\t96.058876\tHONDA',
 '5\t1\t3\t1\t1\t3\t383\t305\t123\t18\t92.779198\tMOTOR',
 '5\t1\t3\t1\t1\t4\t527\t305\t66\t21\t78.312149\tCO.,',
 '5\t1\t3\t1\t1\t5\t612\t304\t71\t17\t94.787697\tINC.',
 '4\t1\t3\t1\t2\t0\t39\t333\t645\t14\t-1\t',
 '5\t1\t3\t1\t2\t1\t39\t335\t35\t12\t96.553566\t100',
 '5\t1\t3\t1\t2\t2\t87\t335\t61\t11\t91.701569\tWEST',
 '5\t1\t3\t1\t2\t3\t161\t335\t106\t11\t91.701569\tALONDRA',
 '5\t1\t3\t1\t2\t4\t282\t335\t132\t11\t93.235939\tBOULEVARD',
 '5\t1\t3\t1\t2\t5\t428\t337\t9\t9\t91.734634\te',
 '5\t1\t3\t1\t2\t6\t452\t334\t112\t13\t92.491997\tGARDENA,',
 '5\t1\t3\t1\t2\t7\t579\t333\t28\t12\t95.994942\tCA',
 '5\t1\t3\t1\t2\t8\t620\t333\t64\t12\t96.804955\t90247',
 '4\t1\t3\t1\t3\t0\t285\t358\t153\t13\t-1\t',
 '5\t1\t3\t1\t3\t1\t285\t358\t50\t13\t96.421967\t(213)',
 '5\t1\t3\t1\t3\t2\t345\t358\t93\t12\t93.811951\t321-8680',
 '']

In [90]:
dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
df = pd.DataFrame(dataList[1:],columns=dataList[0])

In [91]:
df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,720,401,-1,
1,2,1,1,0,0,0,36,29,207,25,-1,
2,3,1,1,1,0,0,36,29,207,25,-1,
3,4,1,1,1,1,0,36,29,207,25,-1,
4,5,1,1,1,1,1,36,29,207,25,92.618942,HONDA
5,2,1,2,0,0,0,237,166,246,63,-1,
6,3,1,2,1,0,0,237,166,246,63,-1,
7,4,1,2,1,1,0,237,166,246,16,-1,
8,5,1,2,1,1,1,237,166,112,16,96.634560,DONNIE
9,5,1,2,1,1,2,364,166,119,16,95.774574,HANSEN
10,4,1,2,1,2,0,245,194,231,12,-1,
11,5,1,2,1,2,1,245,195,108,11,96.603333,MOTOCROSS
12,5,1,2,1,2,2,362,194,48,11,96.379105,TEAM
13,5,1,2,1,2,3,422,194,54,11,96.426384,RIDER
14,4,1,2,1,3,0,299,218,123,11,-1,
15,5,1,2,1,3,1,299,218,49,11,94.591614,TEAM
16,5,1,2,1,3,2,359,218,63,11,94.591614,HONDA
17,2,1,3,0,0,0,35,304,649,67,-1,
18,3,1,3,1,0,0,35,304,649,67,-1,
19,4,1,3,1,1,0,35,304,648,22,-1,
20,5,1,3,1,1,1,35,307,184,17,96.701904,AMERICAN
21,5,1,3,1,1,2,240,306,122,17,96.058876,HONDA
22,5,1,3,1,1,3,383,305,123,18,92.779198,MOTOR
23,5,1,3,1,1,4,527,305,66,21,78.312149,"CO.,"
24,5,1,3,1,1,5,612,304,71,17,94.787697,INC.
25,4,1,3,1,2,0,39,333,645,14,-1,
26,5,1,3,1,2,1,39,335,35,12,96.553566,100
27,5,1,3,1,2,2,87,335,61,11,91.701569,WEST
28,5,1,3,1,2,3,161,335,106,11,91.701569,ALONDRA
29,5,1,3,1,2,4,282,335,132,11,93.235939,BOULEVARD
30,5,1,3,1,2,5,428,337,9,9,91.734634,e
31,5,1,3,1,2,6,452,334,112,13,92.491997,"GARDENA,"
32,5,1,3,1,2,7,579,333,28,12,95.994942,CA
33,5,1,3,1,2,8,620,333,64,12,96.804955,90247
34,4,1,3,1,3,0,285,358,153,13,-1,
35,5,1,3,1,3,1,285,358,50,13,96.421967,(213)
36,5,1,3,1,3,2,345,358,93,12,93.811951,321-8680
37,,None,None,None,None,None,None,None,None,None,None,None

In [92]:
df.head(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,720,401,-1,
1,2,1,1,0,0,0,36,29,207,25,-1,
2,3,1,1,1,0,0,36,29,207,25,-1,
3,4,1,1,1,1,0,36,29,207,25,-1,
4,5,1,1,1,1,1,36,29,207,25,92.618942,HONDA
5,2,1,2,0,0,0,237,166,246,63,-1,
6,3,1,2,1,0,0,237,166,246,63,-1,
7,4,1,2,1,1,0,237,166,246,16,-1,
8,5,1,2,1,1,1,237,166,112,16,96.634560,DONNIE
9,5,1,2,1,1,2,364,166,119,16,95.774574,HANSEN

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      38 non-null     object
 1   page_num   37 non-null     object
 2   block_num  37 non-null     object
 3   par_num    37 non-null     object
 4   line_num   37 non-null     object
 5   word_num   37 non-null     object
 6   left       37 non-null     object
 7   top        37 non-null     object
 8   width      37 non-null     object
 9   height     37 non-null     object
 10  conf       37 non-null     object
 11  text       37 non-null     object
dtypes: object(12)
memory usage: 3.7+ KB

In [96]:
df['conf'] = df['conf'].apply(lambda x:int(float(x)))

In [97]:
df.dropna(inplace=True) # drop the missing in rows
col_int = ['level','page_num','block_num','par_num','line_num','word_num','left','top','width','height','conf']
df[col_int] = df[col_int].astype(int)

In [98]:
df.head(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,720,401,-1,
1,2,1,1,0,0,0,36,29,207,25,-1,
2,3,1,1,1,0,0,36,29,207,25,-1,
3,4,1,1,1,1,0,36,29,207,25,-1,
4,5,1,1,1,1,1,36,29,207,25,92,HONDA
5,2,1,2,0,0,0,237,166,246,63,-1,
6,3,1,2,1,0,0,237,166,246,63,-1,
7,4,1,2,1,1,0,237,166,246,16,-1,
8,5,1,2,1,1,1,237,166,112,16,96,DONNIE
9,5,1,2,1,1,2,364,166,119,16,95,HANSEN

In [99]:
df.dtypes

level         int32
page_num      int32
block_num     int32
par_num       int32
line_num      int32
word_num      int32
left          int32
top           int32
width         int32
height        int32
conf          int32
text         object
dtype: object

In [100]:
image = img_cv.copy()
level = 'word'
for l,x,y,w,h,c,txt in df[['level','left','top','width','height','conf','text']].values:
    #print(l,x,y,w,h,c)
    if level == 'page':
        if l == 1:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,0,0),2)
        else:
            continue

    elif level == 'block':
        if l == 2:
            cv2.rectangle(image,(x,y),(x+w,y+h),(255,0,0),2)
        else:
            continue

    elif level == 'para':
        if l == 3:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,255,0),2)
        else:
            continue

    elif level == 'line':
        if l == 4:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,0,255),2)
        else:
            continue

    elif level == 'word':
        if l == 5:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,255,0),2)
            cv2.putText(image,txt,(x,y),cv2.FONT_HERSHEY_PLAIN,1,(255,0,0),2)
        else:
            continue

cv2.imshow("bounding box",image)
cv2.waitKey()
cv2.destroyAllWindows()